*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    /* background: #c31432;  
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);  */
    background: black;
}
.header{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    line-height: 600%;
}
li{list-style-type: none;}
li a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #e1e6e2;
    font-family: 'Oswald', sans-serif;
    transition: .3s;
    padding: 10px 30px;
    border-radius: 20px;
}
li a:hover{
    background-color: #0033FF;
    color: black;
}
.title{
    color: #e1e6e2;
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}
h5{
    color: #e1e6e2;
    /* color: black; */
    text-align: center;
    font-size: 10px;
}
.card{
    border: 1px solid black;
    transition: .2s ease;
}
.card:hover{border: 2px solid #0033FF;
            transform: scale(1.05);}

.movie-list{
    display: flex;
    justify-content: space-between;
    /* margin-left: 250px; */
    margin: 0 20px 10px 200px;
    flex-wrap: wrap;
}
.title{
    text-align: center;
}
.modal-header{
    background: black;
    color: white;
}
.modal-body{
    background: #654ea3; 
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8); 
}
.modal-footer{
    background-color: black;
}

.add-button{
    margin-left: 20px;
    padding: 10px 40px;
    background-color: rgba(247, 123, 7, 0.87);
    color: rgb(21, 22, 22);
    border-radius: 20px;
    outline: hidden;
    transition: .3s ease;
}
.add-button:hover{
    background-color: #0033FF;
    color: rgb(245, 245, 252);
}

