*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: #c31432;  
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432); 
    /* font-family: 'Oswald', sans-serif; */
}
.header{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    line-height: 600%;
}
li{list-style-type: none;}
li a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #e1e6e2;
    font-family: 'Oswald', sans-serif;
}
li a:hover{color: black;}
.title{
    color: #e1e6e2;
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}
h5{
    /* color: #e1e6e2; */
    color: black;
    text-align: center;
}

.movie-list{
    display: flex;
    justify-content: space-between;
    /* margin-left: 250px; */
    margin: 0 20px 10px 20px;
    flex-wrap: wrap;
}
.title{
    text-align: center;
}
.modal-header{
    background: black;
    color: white;
}
.modal-body{
    background: #654ea3; 
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8); 
}
.modal-footer{
    background-color: black;
}
.list-filter{
    display: flex;
}
.filter-field{
    position: fixed;
}

